<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title>Settinigs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Apperance</ion-list-header>
        <ion-item>
            <ion-text>Dark Theme</ion-text>
            <ion-toggle [(ngModel)]="status" slot="end" color="dark" (ionChange)="toggleTheme()"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>Apperance</ion-list-header>
        <ion-item>
            <ion-text>Dark Theme</ion-text>
            <ion-toggle [(ngModel)]="status" slot="end" color="dark" (ionChange)="toggleTheme()"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>Apperance</ion-list-header>
        <ion-item>
            <ion-text>Dark Theme</ion-text>
            <ion-toggle [(ngModel)]="status" slot="end" color="dark" (ionChange)="toggleTheme()"></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>